body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
}

.search{
    text-align: center;
}
form {
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 20px;  /* 패딩 추가 */
    border-radius: 8px;  /* 테두리 반경 추가 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* 그림자 추가 */
}

form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;  /* 패딩과 테두리를 포함한 전체 너비 */
    transition: border-color 0.3s;  /* 테두리 색상 변화에 트랜지션 추가 */
}

form input[type="text"]:focus {
    border-color: #c6c6c6;  /* 포커스 시 테두리 색상 변경 */
    outline: none;  /* 기본 포커스 스타일 제거 */
}

form button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #c6c6c6;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;  /* 배경색 변화에 트랜지션 추가 */
}

form button:hover {
    background-color: #7b7b7b;  /* 호버 시 배경색 변경 */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

.tabs {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.tab-button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.products {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px;
}

.product-price {
    font-size: 14px;
    color: #888;
    margin: 0;
}

.product img {
    width: 100px; /* 이미지 크기를 원하는 대로 조정 */
    height: auto;
    transition: transform 0.3s ease;
}

.product-details {
    margin-left: 15px;
}

.product:hover img {
    transform: scale(1.2);
}

/* 로딩 오버레이 스타일 */
.loading-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
