<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중고 대통합</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.ico') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1951063906202297" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <meta name="google-adsense-account" content="ca-pub-1951063906202297">
    <meta name="google-site-verification" content="4cM_RY6tht7GWr7m5Uj_X50STFA3wc5-4Bs-TByff_g" />
</head>
<body>
    <div id="loading-overlay" class="loading-overlay" style="display:none;">
        <div class="loader"></div>
    </div>
    <a href="http://useduck.store" style="text-decoration-line: none; color: black;"><h1 style="text-align: center;">중고 대통합</h1></a>
    <div class="search">
        <form method="post" id="search-form">
            <label for="query">검색어를 입력하세요 </label>
            <input type="text" id="query" name="query" required>
            <button type="submit">검색</button>
        </form>
    </div>
    {% if query %}
        <h2>검색 결과 - {{ query }}</h2>
        <div class="tabs">
            <button class="tab-button" onclick="openTab(event, 'all')">통합</button>
            <button class="tab-button" onclick="openTab(event, 'joongna')">중고나라</button>
            <button class="tab-button" onclick="openTab(event, 'bunjang')">번개장터</button>
        </div>
        <div id="all" class="tab-content">
            <h3>통합</h3>
            <ul class="products">
                {% for result in all_results %}
                    {% if result.error %}
                        <li>{{ result.error }}</li>
                    {% else %}
                    <a href="{{ result.url }}" target="_blank">
                        <li class="product">
                            <img src="{{ result.image }}" alt="{{ result.title }}">
                            <div class="product-details">
                                <p class="product-title">{{ result.source }}  {{ result.title }}</p>
                                <p class="product-price">{{ result.price }}</p>
                            </div>
                        </li>
                    </a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id="joongna" class="tab-content" style="display:none">
            <h3>중고나라</h3>
            <ul class="products">
                {% for result in jun_results %}
                    {% if result.error %}
                        <li>{{ result.error }}</li>
                    {% else %}
                    <a href="{{ result.url }}" target="_blank">
                        <li class="product">
                            <img src="{{ result.image }}" alt="{{ result.title }}">
                            <div class="product-details">
                                <p class="product-title">{{ result.title }}</p>
                                <p class="product-price">{{ result.price }}</p>
                            </div>
                        </li>
                    </a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id="bunjang" class="tab-content" style="display:none">
            <h3>번개장터</h3>
            <ul class="products">
                {% for result in bun_results %}
                    {% if result.error %}
                        <li>{{ result.error }}</li>
                    {% else %}
                    <a href="{{ result.url }}" target="_blank">
                        <li class="product">
                            <img src="{{ result.image }}" alt="{{ result.title }}">
                            <div class="product-details">
                                <p class="product-title">{{ result.title }}</p>
                                <p class="product-price">{{ result.price }}</p>
                            </div>
                        </li>
                    </a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
